:host {
  display: table-row;
  border-color: inherit;
  vertical-align: middle;

  td {
    margin: 0;
    padding: 0.9em 0;
    box-sizing: border-box;
    text-align: center;
    color: var(--table-color, #757575);
    border-top: var(--table-border-color, 1px solid #f0f0f0);
  
    &:nth-child(3), &:first-of-type {
      text-align: left;
    }

    &:first-of-type {
      font-size: 16px;
      font-weight: bold;
      padding-left: 8px;
    }

    img {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .hide-cell {
    display: none;
  }
}