@import '../../../styles';

:host {
  display: table-row;
  border-color: inherit;
  vertical-align: middle;

  th {
    margin: 0;
    padding: 0.5em 0;
    width: 12%;
    text-align: center;
    text-transform: uppercase;
    color: var(--subheader-color, #757575);
    background: var(--subheader-background, #fff);

    &.hide-mobile {
      display: none;
    }

    &:first-of-type {
      width: 30px;
      text-align: left;
    }

    &:nth-child(3) {
      width: auto;
      text-align: left;
    }

    @media (min-width: $breakpoint-tablet) {
      width: 10%;
      &.show-tablet {
        display: table-cell;
      }
    }
  
    @media (min-width: $breakpoint-desktop) {
      width: 8%;
      &.hide-mobile {
        display: table-cell;
      }
    }
  }
}